.VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.VPNavBar.has-sidebar .content{
    border-bottom-color: var(--vp-c-gutter);
}

#nprogress .bar {
    box-shadow: 0 0 12px 1px var(--vp-c-brand);
}

.slide-fade-enter-active {
    transition: all .175s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-leave-active {
    transition: all 0s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-enter-from, .slide-fade-leave-to {
    transform: translateY(1.5vh);
    opacity: 0;
}

.vp-doc {
    animation: fadeIn1 0.3s ease-in-out;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.go-to-top {
    background: var(--vp-c-bg-soft)!important;
}

.icon-top {
    margin-top: 11px;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
